.project

.classpath

target/

.settings/

*.class

.metadata
web
default.xml

*.iml

.idea

/*/*/src/main/resources/rebel.xml
/.vscode/
*.rebel.xml.bak
classpath-data.json
package-lock.json

.mvn
mvnw
mvnw.cmd